@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
header {
  width: 625px;
  height: 80px;
  padding: 0px; /*Отступ от контента*/
  margin-left: 50px; /*Отступ блока*/
  padding-left: 50px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
  background: #779815;
  background: -moz-linear-gradient(top, #779815 0%, #99cc01 100%);
  background: -webkit-linear-gradient(top, #6d8037 0%, #99cc01 100%);
  background: linear-gradient(to bottom, #779815 0%, #99cc01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779815', endColorstr='#99cc01',GradientType=0 );
  color: white;
  font-size: 32pt;
}

nav {
  text-decoration: none;
  width: 675px;
  height: 80px;
  margin-left: 0px; /*Отступ блока*/
  margin-top: 30px;
  padding-left: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}
nav ul li {
  flex: 1 1 auto;
}

.b1 {
  height: 195px;
  width: 395px;
  margin-left: 50px; /*Отступ блока*/
  margin-top: -35px;
  padding-left: 280px;
  background: #eeeefb;
}
.draw {
  background-image: url("draw.png");
  position: absolute;
  left: 50px;
  top: 0px;
  width: 675px;
  height: 80px;
  z-index: 3;
}
.b1 span {
  font-size: 20px;
  line-height: 1.2em;
  color: #80a60f;
  display: block;
  margin-top: -2px;
  letter-spacing: 0;
}
.b1 h {
  font-size: 32pt;
}

.b2 {
}

.img {
  background-image: url("img.png");
  position: absolute;
  left: 67px;
  top: 88px;
  width: 443px;
  height: 260px;
  z-index: 6;
}

.img1 {
  background-image: url("img1.png");
  position: absolute;
  left: 329px;
  top: 366px;
  width: 141px;
  height: 94px;
  z-index: 23;
  margin-left: 20px;
}

.b2 span {
  font-size: 15px;
  line-height: 1.2em;
  color: #80a60f;
  display: block;
  margin-top: -2px;
  letter-spacing: 0;
}
.b2 h {
  font-size: 20pt;
}

footer {
  font-size: 15px;
  margin-left: 50px;
  padding-left: 50px;
}

.col1 {
  padding-left: 50px;
  width: 270px;
  margin-left: 25px; /*Отступ блока*/
  margin-top: 0px;
  font-size: 15px;
}

.text1 {
  font-size: 11px;
  position: absolute;
  left: 10px;
  top: 380px;
  width: 220px;
  height: 94px;
  z-index: 23;
  margin-left: 500px;
}
.text1 h {
  font-size: 20px;
}
.text1 span {
  font-size: 13px;
}

.img2 {
  background-image: url("img2.png");
  position: absolute;
  left: 349px;
  top: 493px;
  width: 141px;
  height: 94px;
  z-index: 22;
}
.text2 {
  font-size: 11px;
  position: absolute;
  left: 10px;
  top: 505px;
  width: 220px;
  height: 94px;
  z-index: 23;
  margin-left: 500px;
}

.text2 h {
  font-size: 20px;
}
.text2 span {
  font-size: 13px;
}

ul .item::after {
  content: "";
  margin: 5px;
  background: url(arrow.png);
  float: right;
  width: 9px;
  height: 9px;
  margin-right: 25px;
}
